CONFIG VCCAUX = "3.3";

NET "clk"           LOC = "H17"  | IOSTANDARD = LVTTL;
NET "clk" TNM_NET = "clkin" ;
TIMESPEC "TS_clkin" = PERIOD "clkin" 17544 ps INPUT_JITTER 100 ps;

NET seg(7)       LOC="L15"  | IOSTANDARD=LVTTL;
NET seg(6)       LOC="K17"  | IOSTANDARD=LVTTL;
NET seg(5)       LOC="N17"  | IOSTANDARD=LVTTL;
NET seg(4)       LOC="M16"  | IOSTANDARD=LVTTL;
NET seg(3)       LOC="P16"  | IOSTANDARD=LVTTL;
NET seg(2)       LOC="N16"  | IOSTANDARD=LVTTL;
NET seg(1)       LOC="K15"  | IOSTANDARD=LVTTL;
NET seg(0)       LOC="T17"  | IOSTANDARD=LVTTL;

NET an(0)   LOC="U18"  | IOSTANDARD=LVTTL;
NET an(1)   LOC="P17"  | IOSTANDARD=LVTTL;
NET an(2)   LOC="L17"  | IOSTANDARD=LVTTL;
NET an(3)   LOC="J16"  | IOSTANDARD=LVTTL;

#CONFIG PROHIBIT=P99;
#CONFIG PROHIBIT=P43;
#CONFIG PROHIBIT=P42;
#CONFIG PROHIBIT=P39;
#CONFIG PROHIBIT=P49;
#CONFIG PROHIBIT=P48;
#CONFIG PROHIBIT=P47;
#CONFIG PART=xc3s250e-vq100-5;
#
#NET clk          LOC="P89";
#TIMESPEC TS_clk = PERIOD "clk" 30 ns HIGH 50% INPUT_JITTER 100 ps;
#
#NET seg(7)       LOC="P57"  |IOSTANDARD=LVTTL;
#NET seg(6)       LOC="P65"  |IOSTANDARD=LVTTL;
#NET seg(5)       LOC="P40"  |IOSTANDARD=LVTTL;
#NET seg(4)       LOC="P53"  |IOSTANDARD=LVTTL;
#NET seg(3)       LOC="P33"  |IOSTANDARD=LVTTL;
#NET seg(2)       LOC="P35"  |IOSTANDARD=LVTTL;
#NET seg(1)       LOC="P62"  |IOSTANDARD=LVTTL;
#NET seg(0)       LOC="P23"  |IOSTANDARD=LVTTL;
#
#NET an(0)   LOC="P18"  |IOSTANDARD=LVTTL;
#NET an(1)   LOC="P26"  |IOSTANDARD=LVTTL;
#NET an(2)   LOC="P60"  |IOSTANDARD=LVTTL;
#NET an(3)   LOC="P67"  |IOSTANDARD=LVTTL;
##Created by Constraints Editor (xc3s250e-vq100-5) - 2014/11/29
#NET "clk" TNM_NET = clk;
