CONFIG VCCAUX = "3.3";

NET "clk"           LOC = "H17"  | IOSTANDARD = LVTTL;
NET "clk" TNM_NET = "clkin" ;
TIMESPEC "TS_clkin" = PERIOD "clkin" 20000 ps INPUT_JITTER 200 ps;

NET seg(7)       LOC="L15"  | IOSTANDARD=LVTTL;
NET seg(6)       LOC="K17"  | IOSTANDARD=LVTTL;
NET seg(5)       LOC="N17"  | IOSTANDARD=LVTTL;
NET seg(4)       LOC="M16"  | IOSTANDARD=LVTTL;
NET seg(3)       LOC="P16"  | IOSTANDARD=LVTTL;
NET seg(2)       LOC="N16"  | IOSTANDARD=LVTTL;
NET seg(1)       LOC="K15"  | IOSTANDARD=LVTTL;
NET seg(0)       LOC="T17"  | IOSTANDARD=LVTTL;

NET an(0)   LOC="U18"  | IOSTANDARD=LVTTL;
NET an(1)   LOC="P17"  | IOSTANDARD=LVTTL;
NET an(2)   LOC="L17"  | IOSTANDARD=LVTTL;
NET an(3)   LOC="J16"  | IOSTANDARD=LVTTL;
